@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  margin: 0;
  font-family: Oswald;
}

html {
  color: #333;
}

.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

html {
  background-color: #251351;
}
